<h2 mat-dialog-title>{{data?.title}}</h2>

<mat-dialog-content>
    <div class="modal-form">
      <form [formGroup]="consultForm.baseForm">

        <mat-form-field class="full-width-input">
          <input formControlName="idUser"
          type="number"
            matInput placeholder="user ID"
            required
          />
          <div mat-error *ngIf="checkField('idUser')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input formControlName="palabraClaveConsulta1"
            matInput placeholder="Palabra clave"
            required
          />
          <div mat-error *ngIf="checkField('palabraClaveConsulta1')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field>

        <mat-form-field class="full-width-input">
            <input formControlName="palabraClaveConsulta2"
              matInput placeholder="Otra palabra clave"
              required
            />
            <div mat-error *ngIf="checkField('palabraClaveConsulta2')">
              {{ consultForm.errorMessage }}
            </div>
          </mat-form-field>


        <mat-form-field class="full-width-input">
          <input formControlName="asuntoDetallado"
            matInput placeholder="Asunto detallado"
            required
          />
          <div mat-error *ngIf="checkField('asuntoDetallado')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input formControlName="cantidadCambios"
          type="number"
            matInput placeholder="Cantidad de cambios"
            required
          />
          <div mat-error *ngIf="checkField('cantidadCambios')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field>


        <mat-form-field class="full-width-input">
          <mat-label> Select Clasific.</mat-label>
          <mat-select formControlName="idClasificador">
            <mat-option value="1">Consultas Generales</mat-option>
            <mat-option value="2">Proyectos de ley</mat-option>
            <mat-option value="3">Contratos administrativos</mat-option>
            <mat-option value="4">Contrato personal</mat-option>
          </mat-select>
          <div mat-error *ngIf="checkField('idClasificador')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field>
      </form>

        <!-- NUEVOOOO -->
        <form [formGroup]="detailsForm.baseFormDetails">

        <mat-form-field class="full-width-input">
          <input formControlName="linea"
            matInput placeholder="Linea"
            required
          />
          <div mat-error *ngIf="checkField('linea')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field>
        
        <input formControlName="evidenciaArchivo" type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">
          {{ fileName || "No file uploaded yet."}}
            <button mat-mini-fab color="primary" class="upload-btn"
              (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>

        <mat-form-field class="full-width-input">
          <input formControlName="detalle"
            matInput placeholder="Detalle del archivo"
            required
          />
          <div mat-error *ngIf="checkField('detalle')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field>

      </form>
        
      
    </div>
</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      [mat-dialog-close]="true"
      color="primary"
      (click)="onSaveConsult()"
      ckdFocusInitial
      [disabled]="!consultForm.baseForm.valid"
    >
      Save
    </button>
  </mat-dialog-actions>
  