<h2 mat-dialog-title>{{data?.title}}</h2>

<mat-dialog-content>
    <div class="modal-form">
      <form [formGroup]="consultForm.baseForm">
      <!-- formulario -->
        <!-- <mat-form-field class="full-width-input">
            <input formControlName="fechaHora"
            matInput placeholder="Fecha y Hora"
            required
            />
            <div mat-error *ngIf="checkField('fechaHora')">
            {{ consultForm.errorMessage }}
            </div>
        </mat-form-field> -->


        <mat-form-field class="full-width-input">
          <input formControlName="idUser"
          type="number"
            matInput placeholder="user ID"
            required
          />
          <div mat-error *ngIf="checkField('idUser')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input formControlName="palabraClaveConsulta1"
            matInput placeholder="Palabra clave"
            required
          />
          <div mat-error *ngIf="checkField('palabraClaveConsulta1')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field>

        <mat-form-field class="full-width-input">
            <input formControlName="palabraClaveConsulta2"
              matInput placeholder="Otra palabra clave"
              required
            />
            <div mat-error *ngIf="checkField('palabraClaveConsulta2')">
              {{ consultForm.errorMessage }}
            </div>
          </mat-form-field>

        <!-- <mat-form-field class="full-width-input">
          <mat-label> Select </mat-label>
          <mat-select formControlName="role">
            <mat-option value="suscriptor">Suscriptor</mat-option>
            <mat-option value="admin">Admin</mat-option>
          </mat-select>
          <div mat-error *ngIf="checkField('role')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field> -->

        <mat-form-field class="full-width-input">
          <input formControlName="asuntoDetallado"
            matInput placeholder="Asunto detallado"
            required
          />
          <div mat-error *ngIf="checkField('asuntoDetallado')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field>

        <!-- <mat-form-field class="full-width-input">
            <input formControlName="ipCompu"
              matInput placeholder="IP Computadora"
              required
            />
            <div mat-error *ngIf="checkField('ipCompu')">
              {{ consultForm.errorMessage }}
            </div>
          </mat-form-field> -->

        <mat-form-field class="full-width-input">
          <input formControlName="cantidadCambios"
          type="number"
            matInput placeholder="Cantidad de cambios"
            required
          />
          <div mat-error *ngIf="checkField('cantidadCambios')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input formControlName="idClasificador"
            type="number"
            matInput placeholder="ID clasificador"
            required
          />
          <div mat-error *ngIf="checkField('idClasificador')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field>

        <!-- NUEVOOOO -->

        <mat-form-field class="full-width-input">
          <input formControlName="detalle"
            matInput placeholder="Detalle del archivo"
            required
          />
          <div mat-error *ngIf="checkField('detalle')">
            {{ consultForm.errorMessage }}
          </div>
        </mat-form-field>
        
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">
          {{ fileName || "No file uploaded yet."}}
            <button mat-mini-fab color="primary" class="upload-btn"
              (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
        
      </form>
    </div>
</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      [mat-dialog-close]="true"
      color="primary"
      (click)="onSaveConsult()"
      ckdFocusInitial
      [disabled]="!consultForm.baseForm.valid"
    >
      Save
    </button>
  </mat-dialog-actions>
  