<mat-toolbar color="primary">
  <!-- <ng-container *ngIf="isAdmin === 'admin'"> -->
  <ng-container>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>
    <span >Departamento Legal</span>
    <span class="spacer"></span>
    <!-- <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Login</a> -->
    <!-- <a *ngIf="isAdmin === 'admin'" mat-button routerLink="/admin">Admin</a> -->
    
  
    <!--<button (click)="isAdmin = !isAdmin">Change</button>
    <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Login</a>
    <a *ngIf="isAdmin === 'admin'" mat-button routerLink="/admin">Admin</a>-->
  </mat-toolbar>
  
  <!--<ng-template #viewAdmin>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
  </ng-template>-->

  <ng-template #viewLogout>
    <a mat-button (click)="onLogout()">Logout</a>
  </ng-template>
  